@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

* {
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  overflow: hidden;
}

html,
body {
  margin: 0;
  background-color: #1B1B1C;  
  padding: 0;
  padding-left: 10%;
  padding-right: 10%;


  overflow: hidden;
  height: 100vh;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}