@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

* {
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

html,
body {
  margin: 0;
  background-color: #252525;
  padding: 0;
  padding-left: 5%;
  padding-right: 5%;

  height: 100vh;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media (max-width: 768px) {
  html,
  body {
    padding-left: 0;
    padding-right: 0;
  }
}
